[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ClimInd"]
	path = ClimInd
	url = https://gitlab.com/indecis-eu/indecis
	shallow = true
	registered = true
